* {
  margin: 0;
  padding: 0;
}

/* Common Styles */

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

body {
  background: #fff;
  color: #000;
  background-position: 0 0, 25px 25px;
  background-attachment: fixed;
  background-size: 50px 50px;
  background-image: radial-gradient(#ddd 1px, transparent 0),
    radial-gradient(#ddd 1px, transparent 0);
  overflow-x: hidden;
}

/* Custom Styles */

.neno-container {
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.neno-profile {
  font-size: 1.4em;
  line-height: 30px;
  font-family: monospace;
  margin: 3em 1em;
}

.neno-profile p {
  margin-bottom: 3px;
}

.neno-profile div {
  margin-left: 10px;
}

.neno-profile a {
  color: #000;
}

.neno-profile a:hover {
  text-decoration: underline;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #f4f5f7;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: #2b2e34;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
